body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logos-img {
  width: 3em;
}

.list-child {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 2em;
}

.topnav a:active {
  border-bottom: 2px solid black;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navigate {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
